@model List<Web.Entidades.Usuario>


@{
    ViewBag.Title = "ConsultarUsuarios";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}



<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h2 class="m-0 font-weight-bold text-primary">ConsultarUsuarios</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12">
                    <div class="col-sm-12">

                        @if (ViewBag.MsjPantalla != null)
                        {
                            <div class="alert alert-warning" role="alert" style="text-align:center">
                                @ViewBag.MsjPantalla
                            </div>
                        }

                      

                        <table id="myDataTable" class="table table-bordered dataTable" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th>ID</th>
                                    <th>Identificación</th>
                                    <th>Nombre</th>
                                    <th>CorreoElectronico</th>
                                    <th>NombreRol</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr class="odd">
                                    <td>@item.Consecutivo</td>
                                    <td>@item.Identificacion</td>
                                    <td>@item.Nombre</td>
                                    <td>@item.CorreoElectronico</td>
                                    <td>@item.NombreRol</td>
                                    @if (item.Estado)
                                    {
                                        <td>Activo</td>
                                    }
                                    else
                                    {
                                        <td>Inactivo</td>
                                    }
                                <td style="text-align:center">
                                
                                    <a href="@Url.Action("ActualizaUsuario","Usuario", new { id = @item.Consecutivo})"><i class="fa fa-pencil-square-o fa-2x"></i></a>
                                    <a href="@Url.Action("InactivaUsuario","Usuario", new { id = @item.Consecutivo })"><i class="fa fa-trash-o fa-2x"></i></a>
                                </td>
                                </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Estilos/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#myDataTable').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.0.2/i18n/es-ES.json',
            }
        });
    });
</script>