@model List<Web.Entidades.PoliticaDevolucion>

@{
    ViewBag.Title = "Política de Devolución";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}


<div class="container mt-5">
    <h2 class="text-center font-weight-bold">Políticas de Devolución</h2>
    <h3 class="text-center text-muted">Consulta las políticas de devolución vigentes y administra las existentes.</h3>

    @if (Session["RolUsuario"] != null && Session["RolUsuario"].ToString() == "1")
    {
        <div class="text-right mt-4">
            <a href="@Url.Action("Insertar", "PoliticaDevolucion")" class="primary-btn">Agregar Nueva Política</a>
        </div>
    }


    @if (Model != null && Model.Any())
    {
        <div class="policy-section">
            @foreach (var politica in Model)
            {
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title">@politica.titulo_seccion</h3>
                        <p class="card-text">@politica.contenido</p>
                        <div class="text-muted mb-3">Última actualización: @politica.ultima_actualizacion.ToString()</div>
                        <div class="text-right">
                            @if (Session["RolUsuario"] != null && Session["RolUsuario"].ToString() == "1")
                            {
                                <a href="@Url.Action("Editar", "PoliticaDevolucion", new { id = @politica.id })" ><i class="fa fa-pencil-square-o fa-2x" tittle="Editar Politica Devolucion"></i></a>
                                <a href="@Url.Action("Eliminar", "PoliticaDevolucion", new { id = @politica.id })" ><i class="fa fa-trash-o fa-2x" tittle="Eliminar Politica Devolucion"></i></a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="alert alert-warning text-center">
            No se encontraron políticas de devolución en este momento.
        </div>
    }


</div>
