@model Web.Entidades.Producto
@{
    ViewBag.Title = "VerProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="section">
    <div class="container">
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src="@Model.RutaImagen" alt="@Model.NombreProducto">
                    </div>
                </div>
            </div>

            <!-- Product thumb imgs -->
            <div class="col-md-2 col-md-pull-5">
                <div id="product-imgs">
                    <div class="product-preview">
                        <img src="@Model.RutaImagen" alt="@Model.NombreProducto">
                    </div>
                </div>
            </div>

           
    <div class="col-md-5">
        <div class="product-details">
            <h2 class="product-name">@Model.NombreProducto</h2>

            <div>
                @if (Model.En_promocion)
                {
                    <h3 class="product-price">
                        ₡@Model.PrecioConDescuento.ToString("N0")
                        <del class="product-old-price">₡@Model.Precio.ToString("N0")</del>
                    </h3>
                    <span class="product-available text-danger">-@Model.Porcentaje_descuento% OFF</span>
                }
                else
                {
                    <h3 class="product-price">₡@Model.Precio.ToString("N0")</h3>
                }

                <span class="product-available">@(Model.Inventario) en inventario</span>
            </div>

            <p>@Model.NombreProducto</p>


            <div class="add-to-cart">
                <div class="qty-label">
                    Cantidad
                    <div class="input-number">
                        <input type="number" id="prd-@Model.Consecutivo" onkeypress="return ValidarNumeros(this.id)" class="form-control" value="1" min="1" max="@Model.Inventario">

                        <span class="qty-up">+</span>
                        <span class="qty-down">-</span>
                    </div>
                </div>

                <button onclick="AgregarCarrito(@Model.Consecutivo, @Model.Inventario);" class="add-to-cart-btn">
                    <i class="fa fa-shopping-cart"></i> Agregar al carrito
                </button>
            </div>


            <ul class="product-btns">
                <li>
                    <a href="#" onclick="AgregarAFavoritos(@Model.Consecutivo)">
                        <i class="fa fa-heart-o"></i> Agregar a favoritos
                    </a>
                </li>
            </ul>

            <ul class="product-links">
                <li>Categoría:</li>
                <li><a href="#">@Model.NombreCategoria</a></li>
            </ul>
            <ul class="product-links">
                <li>Diseneo: </li>
                <li><a href="@Url.Action("Disenno", "Producto",new { id =Model.Consecutivo })">Agregar diseño</a></li>
            </ul>
        </div>
            </div>

            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <ul class="tab-nav">
                        <li class="active"><a data-toggle="tab" href="#tab1">Descripción</a></li>
                        <li><a data-toggle="tab" href="#tab2">Detalles</a></li>
                        <li><a  href="@Url.Action("RegistrarResena","Resena")">Reseñas</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="tab1" class="tab-pane fade in active" style="text-align:center">
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="myDataTable" class="table table-bordered dataTable " style="width: 75%; " >
                                        <thead >
                                            <tr role="row">
                                                <th>COLOR</th>
                                                <th>TAMAÑO</th>
                                                <th>MATERIAL</th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="odd" >
                                                <td>
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                         width="50" height="50" viewBox="0 0 50 50">
                                                        <circle cx="30" cy="30" r="20"
                                                                fill="@Model.ColorBase" />
                                                    </svg>
                                                </td>
                                                <td> @Model.Tamanio</td>
                                                <td>@Model.Material</td>
                                                
                                                                                           
                                            </tr>
                                            
                                        </tbody>
                                    </table>


                                 
                                  
                                </div>
                            </div>
                        </div>

                        <div id="tab2" class="tab-pane fade in">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Detalles adicionales del producto...</p>
                                </div>
                            </div>
                        </div>

                        <!-- El tab3 se mantiene igual para las reseñas -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function ValidarNumeros(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode >= 48 && charCode <= 57) {
            return true;
        }
        return false;
    }

    function AgregarCarrito(id, inventario) {
        let cantProducto = $("#prd-" + id).val();

        if (cantProducto > inventario) {
            MostrarAlert("info", "Debes ingresar una cantidad inferior");
            return;
        }

        if (cantProducto <= 0) {
            MostrarAlert("info", "Debe ingresar una cantidad válida");
            return;
        }

        $.ajax({
            url: '/Carrito/AgregarCarrito',
            type: "POST",
            data: {
                "idProducto": id,
                "cantProducto": cantProducto
            },
            success: function (data) {
                if (data == "OK") {
                    window.location.href = '@Url.Action("PantallaPrincipal", "Inicio")';
                } else {
                    alert('Debes iniciar Sesión o registrarte para comprar este producto');
                }
            }
        });
    }

        function AgregarAFavoritos(productoId) {
            // Aquí agregas tu lógica para agregar a favoritos
        }

        function MostrarAlert(icono, mensaje) {
            Swal.fire({
                position: "center",
                icon: icono,
                title: mensaje,
                showConfirmButton: false,
                timer: 2500
            });
        }

</script>
