@model Web.Entidades.Producto
@{
    ViewBag.Title = "VerProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Google font -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

<!-- Bootstrap -->
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

<!-- Slick -->
<link type="text/css" rel="stylesheet" href="css/slick.css" />
<link type="text/css" rel="stylesheet" href="css/slick-theme.css" />

<!-- nouislider -->
<link type="text/css" rel="stylesheet" href="css/nouislider.min.css" />

<!-- Font Awesome Icon -->
<link rel="stylesheet" href="css/font-awesome.min.css">

<!-- Custom stlylesheet -->
<link type="text/css" rel="stylesheet" href="css/style.css" />

<div class="section">
    <div class="container">
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img id="main-product-img" src="@Model.RutaImagen" alt="@Model.NombreProducto">
                    </div>
                </div>
            </div>

            <!-- Product thumb imgs -->
            <div class="col-md-2 col-md-pull-5">
                <div id="product-imgs">
                    <div class="product-preview">
                        <img src="@Model.RutaImagen" alt="@Model.NombreProducto">
                    </div>
                </div>
            </div>

            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">@Model.NombreProducto</h2>

                    <div>
                        @if (Model.En_promocion)
                        {
                            <h3 class="product-price">
                                ₡@Model.PrecioConDescuento.ToString("N0")
                                <del class="product-old-price">₡@Model.Precio.ToString("N0")</del>
                            </h3>
                            <span class="product-available text-danger">-@Model.Porcentaje_descuento% OFF</span>
                        }
                        else
                        {
                            <h3 class="product-price">₡@Model.Precio.ToString("N0")</h3>
                        }

                        <span class="product-available">@(Model.Inventario) en inventario</span>
                    </div>

                    <p>@Model.NombreProducto</p>

                    <!-- Color Selection -->
                    <div class="color-selection">
                        <label for="color">Color:</label>
                        <div class="color-options">
                            <!-- Add color options below -->
                            <div class="color-option" style="background-color: black;" data-color="black"></div>
                            <div class="color-option" style="background-color: darkblue;" data-color="darkblue"></div>
                            <div class="color-option" style="background-color: darkgreen;" data-color="darkgreen"></div>
                            <div class="color-option" style="background-color: darkgray;" data-color="darkgray"></div>
                            <div class="color-option" style="background-color: red;" data-color="red"></div>
                            <div class="color-option" style="background-color: blue;" data-color="blue"></div>
                            <div class="color-option" style="background-color: green;" data-color="green"></div>
                            <div class="color-option" style="background-color: purple;" data-color="purple"></div>
                            <div class="color-option" style="background-color: yellow;" data-color="yellow"></div>
                            <div class="color-option" style="background-color: orange;" data-color="orange"></div>
                            <div class="color-option" style="background-color: pink;" data-color="pink"></div>
                            <div class="color-option" style="background-color: gray;" data-color="gray"></div>
                            <div class="color-option" style="background-color: lightblue;" data-color="lightblue"></div>
                            <div class="color-option" style="background-color: brown;" data-color="brown"></div>
                            <div class="color-option" style="background-color: beige;" data-color="beige"></div>
                            <!-- Add more colors as needed -->
                        </div>
                    </div>

                    <!-- Print Process Selection -->
                    <div class="print-selection">
                        <label for="print-process">Impresión:</label>
                        <select id="print-process" name="print-process">
                            <option value="black">Impresión Intensa: con base blanca</option>
                            <option value="colored">Impresión a color</option>
                        </select>
                    </div>

                    <!-- Size Selection -->
                    <div class="size-selection">
                        <label for="size">Talla:</label>
                        <select id="size" name="size">
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                            <option value="XXL">XXL</option>
                        </select>
                    </div>

                    <!-- Category -->
                    <div class="product-category">
                        <label>Categoría:</label>
                        <span>@Model.NombreCategoria</span>
                    </div>

                    <!-- Edit Design Button -->
                    <div class="edit-design">
                        <a href="@Url.Action("DiseñoProducto", "Producto", new { id = Model.Consecutivo })" class="btn btn-primary">
                            Editar este diseño
                        </a>
                    </div>

                    @if (Model.Inventario > 0)
                    {
                        <div class="add-to-cart">
                            <div class="qty-label">
                                Cantidad
                                <div class="input-number">
                                    <input type="number" class="cantidad-producto"
                                           value="1" min="1" max="@Model.Inventario">
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                </div>
                            </div>
                            <button class="add-to-cart-btn" onclick="AgregarAlCarrito(@Model.Consecutivo)">
                                <i class="fa fa-shopping-cart"></i> Agregar al carrito
                            </button>
                        </div>
                    }

                    <ul class="product-btns">
                        <li>
                            <a href="#" onclick="AgregarAFavoritos(@Model.Consecutivo)">
                                <i class="fa fa-heart-o"></i> Agregar a favoritos
                            </a>
                        </li>
                    </ul>

                    <ul class="product-links">
                        <li>Categoría:</li>
                        <li><a href="#">@Model.NombreCategoria</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/nouislider.min.js"></script>
<script src="js/jquery.zoom.min.js"></script>
<script src="js/main.js"></script>

<script>
    // Function to change the product image when a color is selected
    $(document).ready(function() {
        $('.color-option').on('click', function() {
            var selectedColor = $(this).data('color');
            var imagePath = '@Url.Content("~/Images/Products/")' + selectedColor + '.jpg'; // Adjust the path and file type
            $('#main-product-img').attr('src', imagePath);
        });
    });

    function EditarDiseno() {
        alert('Empezar a diseñar');
    }
</script>




<script>
        $(document).ready(function() {
            // Manejo de cantidad
            $('.qty-up').on('click', function() {
                var input = $(this).siblings('input');
                var max = parseInt(input.attr('max'));
                var value = parseInt(input.val());
                if (value < max) {
                    input.val(value + 1);
                }
            });

            $('.qty-down').on('click', function() {
                var input = $(this).siblings('input');
                var value = parseInt(input.val());
                if (value > 1) {
                    input.val(value - 1);
                }
            });

            // Validación de cantidad
            $('.cantidad-producto').on('input', function() {
                var max = parseInt($(this).attr('max'));
                var value = parseInt($(this).val());

                if (value > max) {
                    $(this).val(max);
                    MostrarAlert('info', `El máximo disponible es ${max} unidades`);
                }

                if (value < 1) {
                    $(this).val(1);
                }
            });
        });

        function AgregarAlCarrito(productoId) {
            var cantidad = $('.cantidad-producto').val();
            // Aquí agregas tu lógica para agregar al carrito
            $.ajax({
                url: '@Url.Action("AgregarAlCarrito", "Carrito")',
                type: 'POST',
                data: { productoId: productoId, cantidad: cantidad },
                success: function(response) {
                    if (response.success) {
                        MostrarAlert('success', 'Producto agregado al carrito');
                    } else {
                        MostrarAlert('error', response.message);
                    }
                }
            });
        }

        function AgregarAFavoritos(productoId) {
            // Aquí agregas tu lógica para agregar a favoritos
        }

        function MostrarAlert(icono, mensaje) {
            Swal.fire({
                position: "center",
                icon: icono,
                title: mensaje,
                showConfirmButton: false,
                timer: 2500
            });
        }
</script>
