@model Web.Entidades.InforE

@{
    ViewBag.Title = "RegistrarInforE";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<!-- SECTION -->
<div class="section align-content-center">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">

                <!-- Billing Details -->
                <div class="billing-details">
                    <div class="section-title">
                        @if (ViewBag.MsjPantalla != null)
                        {
                            <div class="alert alert-warning" role="alert" style="text-align:center">
                                @ViewBag.MsjPantalla
                            </div>
                        }
                        @using (Html.BeginForm("RegistraInforE", "InfoE", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                @Html.LabelFor(m => m.NombreEmpresa, "Nombre de la Empresa")
                                @Html.TextBoxFor(m => m.NombreEmpresa, new { @class = "form-control", @placeholder = "Nombre de la Empresa", @required = "true" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Telefono, "Teléfono")
                                @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control", @placeholder = "Teléfono", @required = "true" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.CorreoElectronico, "Correo Electrónico")
                                @Html.TextBoxFor(m => m.CorreoElectronico, new { @class = "form-control", @placeholder = "Correo Electrónico", @type = "email", @required = "true" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Direccion, "Dirección")
                                @Html.TextBoxFor(m => m.Direccion, new { @class = "form-control", @placeholder = "Dirección", @required = "true" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.AcercaDeNosotros, "Acerca de Nosotros")
                                @Html.TextAreaFor(m => m.AcercaDeNosotros, new { @class = "form-control", @placeholder = "Acerca de Nosotros", @rows = "4", @required = "true" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Contactanos, "Contáctanos")
                                @Html.TextAreaFor(m => m.Contactanos, new { @class = "form-control", @placeholder = "Contáctanos", @rows = "4", @required = "true" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Politicas, "Políticas")
                                @Html.TextAreaFor(m => m.Politicas, new { @class = "form-control", @placeholder = "Políticas", @rows = "4", @required = "true" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.OrdenesDevoluciones, "Órdenes y Devoluciones")
                                @Html.TextAreaFor(m => m.OrdenesDevoluciones, new { @class = "form-control", @placeholder = "Órdenes y Devoluciones", @rows = "4", @required = "true" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.TerminosCondiciones, "Términos y Condiciones")
                                @Html.TextAreaFor(m => m.TerminosCondiciones, new { @class = "form-control", @placeholder = "Términos y Condiciones", @rows = "4", @required = "true" })
                            </div>
                            <button type="submit" class="primary-btn">
                                Guardar
                            </button>


                        }

                    </div>
                </div>
            </div>
        </div>
              </div>
              </div>