@model Web.Entidades.Ayuda
@{
    ViewBag.Title = "Insertar";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<div class="container mt-5">
    <h2 class="text-center font-weight-bold">Registrar Ayuda</h2>

    @using (Html.BeginForm("Insertar", "Ayuda", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <label for="categoria">Categoría</label>
            @Html.TextBoxFor(model => model.categoria, new { @class = "form-control", @placeholder = "Categoría" })
        </div>
        <div class="form-group">
            <label for="titulo">Título</label>
            @Html.TextBoxFor(model => model.titulo, new { @class = "form-control", @placeholder = "Título" })
        </div>
        <div class="form-group">
            <label for="contenido">Contenido</label>
            @Html.TextAreaFor(model => model.contenido, new { @class = "form-control", @placeholder = "Contenido" })
        </div>
        <div class="form-group">
            @Html.Label("Imagen")
            <input type="file" id="Imagenes" name="Imagenes" class="form-control form-control-user">
        </div>
        <div class="text-right">
            <button type="submit" class="primary-btn">Guardar</button>
            <a href="@Url.Action("Ayuda", "Ayuda")" class="primary-btn">Cancelar</a>
        </div>
    }
</div>
